@inherits LayoutComponentBase

<MudThemeProvider />
<MudPopoverProvider />

@* Needed for dialogs *@
<MudDialogProvider />

@* Needed for snackbars *@
<MudSnackbarProvider />

<div class="page">
    <main>
        <MudPaper Height="800px" Width="100%" Style="background-color: #095C2D">
            <MudContainer MaxWidth="MaxWidth.Large">
                <MudPaper Height="800px" Width="100%" Square="true" Style="text-align: center;">
                    @Body
                </MudPaper>
            </MudContainer>
        </MudPaper>
    </main>
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>
