@rendermode InteractiveServer

<h3>Game settings</h3>

<button class="btn btn-primary" @onclick="() => ChangeTotalPlayers(-1)"> -1 </button>
Total xxx players: @totalPlayers
<button class="btn btn-primary" @onclick="() => ChangeTotalPlayers(+1)"> +1 </button>


@code {

    private int totalPlayers = 0;

    private void ChangeTotalPlayers(int delta)
    {
        totalPlayers += delta;
    }
}
