@rendermode InteractiveServer

<button class="btn btn-primary" @onclick="() => ChangeTotalPlayers(-1)"> -1 </button>
Total players: @TotalPlayers
<button class="btn btn-primary" @onclick="() => ChangeTotalPlayers(+1)"> +1 </button>

@code {
    [Parameter]
    public int TotalPlayers { get; set; }

    [Parameter]
    public EventCallback<int> TotalPlayersChanged { get; set; }

    private async Task ChangeTotalPlayers(int delta)
    {
        var newValue = TotalPlayers + delta;
        TotalPlayers = newValue;

        await TotalPlayersChanged.InvokeAsync(newValue);
    }
}