<h3>BlindNumbers</h3>

<MudPaper Class="pa-4 mud-theme-primary">
    @if (AmountOfTimesTimerHasExpired >= 0 && AmountOfTimesTimerHasExpired < allBlinds.GetLength(0))
    {
        <div>Current blinds: </div>
        @($"{allBlinds[AmountOfTimesTimerHasExpired, 0]} / {allBlinds[AmountOfTimesTimerHasExpired, 1]}")
    }
    else
    {
        <span>Blinds not available</span>
    }
</MudPaper>

<MudPaper Class="pa-4 mud-theme-primary">
    @if (AmountOfTimesTimerHasExpired >= 0 && 
    AmountOfTimesTimerHasExpired + 1 < allBlinds.GetLength(0))
    {
        <div>Next blinds: </div>
        @($"{allBlinds[AmountOfTimesTimerHasExpired+1, 0]} / {allBlinds[AmountOfTimesTimerHasExpired+1, 1]}")
    }
    else
    {
        <span>Next Blinds not available</span>
    }
</MudPaper>

@code {

    [Parameter]
    public int AmountOfTimesTimerHasExpired { get; init; }

    //TODO move me to a separate file, for better separation of concerns? 
    int[,] allBlinds = {
        { 100, 200 }, 
        { 200, 400 }, 
        { 300, 400 },
        { 400, 800 },
        { 500, 1_000 },
        { 600, 1_200 },
        { 1_000, 1_500 },
        { 1_000, 2_000 },


    };


}
