@page "/"
@rendermode InteractiveServer
<PageTitle>Gilles Poker Tournament Timer</PageTitle>


<h1 style="color: black">Gilles Poker Tournament Timer </h1>
<h3 style="color: black">Level X of Y</h3>

<Timer OnTimerHitZero="HandleTimerHitZero" selectedBlindTimerInSeconds="@selectedBlindTimerInSeconds" />

<BlindNumbers AmountOfTimesTimerHasExpired="TimerExpirationCount" />

<TournamentInfo @bind-TotalPlayers="totalPlayers"
            @bind-RemainingPlayers="remainingPlayers"
            @bind-SelectedBlindTimerInSeconds="selectedBlindTimerInSeconds" />

@*

<PlayersLeft currentPlayers="@currentPlayers" totalAmountOfPlayers="@totalPlayers" />

<br />
<br />
<br />

<ChipValues />

<br />
<br />
<br />
<AdminInput @bind-TotalPlayers="totalPlayers"
            @bind-CurrentPlayers="currentPlayers"
            @bind-SelectedBlindTimerInSeconds="selectedBlindTimerInSeconds" /> *@

@code {

    private int totalPlayers = 0;
    private int remainingPlayers = 0;
    private int selectedBlindTimerInSeconds = 0;

    private int TimerExpirationCount = 0;

    private void HandleTimerHitZero()
    {
        TimerExpirationCount++;
    }
}