@page "/"
@rendermode InteractiveServer
<PageTitle>Gilles Poker Tournament Timer</PageTitle>


<h1 style="color: white;">Gilles Poker Tournament Timer </h1>
<h3 style="color: #92F8CF;">Level @(TimerExpirationCount + 1) of 8</h3>

<Timer OnTimerHitZero="HandleTimerHitZero" CountdownIsRunning="@countdownIsRunning"
       @bind-SelectedBlindTimerInSeconds="selectedBlindTimerInSeconds" />

<BlindNumbers AmountOfTimesTimerHasExpired="TimerExpirationCount" />

<TournamentInfo @bind-TotalPlayers="totalPlayers"
            @bind-RemainingPlayers="remainingPlayers"
                @bind-CountdownIsRunning="countdownIsRunning"
                BlindTimerHasBeenSelected="blindTimerHasBeenSelected" />

@code {

    private int totalPlayers = 0;
    private int remainingPlayers = 0;
    private bool countdownIsRunning = false;

    private int TimerExpirationCount = 0;

    private void HandleTimerHitZero()
    {
        TimerExpirationCount++;
    }

    private int selectedBlindTimerInSeconds;
    private bool blindTimerHasBeenSelected => selectedBlindTimerInSeconds > 0;
    
}