@page "/"
@rendermode InteractiveServer
<PageTitle>Gilles Poker Tournament Timer</PageTitle>


<h1 style="color: white;">Poker Tournament Timer </h1>
<h3 style="color: #92F8CF;">Level @(timerExpirationCount + 1) of 8</h3>

<Timer OnTimerHitZero="HandleTimerHitZero" CountdownIsRunning="@countdownIsRunning"
       @bind-SelectedBlindTimerInSeconds="selectedBlindTimerInSeconds" />

<BlindNumbers AmountOfTimesTimerHasExpired="timerExpirationCount" />

<TournamentInfo @bind-TotalPlayers="totalPlayers"
            @bind-RemainingPlayers="remainingPlayers"
                @bind-CountdownIsRunning="countdownIsRunning"
                BlindTimerHasBeenSelected="blindTimerHasBeenSelected"
                TimerExpirationCount="timerExpirationCount"
                />

@code {

    private int totalPlayers = 0;
    private int remainingPlayers = 0;
    private bool countdownIsRunning = false;

    private int timerExpirationCount = 0;

    private void HandleTimerHitZero()
    {
        timerExpirationCount++;
    }

    private int selectedBlindTimerInSeconds;
    private bool blindTimerHasBeenSelected => selectedBlindTimerInSeconds > 0;
    
}